<div id="location-plot" hidden><%= @location.plot %></div>


<div class="container-fluid" id="reading-container">

	<div id="plot-text">

		</div>
				<div id="next-button">
			<button id="next"class="btn btn-success">Next</button>
		</div>

</div>