<div id="text" hidden><%= @location.plot %></div>


<div class="container-fluid">
	<div class="well">
		<p id="current-sentence"></p>
	</div>
	<div id="next-button">
		<button id="next" class="btn btn-success">Next</button>
	</div>
</div>