<% unless @character.items.empty? %>

<div class="container-fluid">
	<h3>You are currently holding:</h3>
</div>

<div class="col-lg-4">
	<div class="list-group">
		<% @character.items.each do |item| %>

			<a href="#" class="list-group-item">
				<h4 class="list-group-item-heading"><%= item.name.capitalize %>:</h4> 
				<p class="list-group-item-text"><%= item.description.capitalize %></p>
				<p><%= button_to 'Drop item', drop_item_path(item), class: "btn btn-default" %></p>
			</a>

			<% end %>


	</div>
</div>

	<% else %>

<div class="container-fluid">
	<p>You are not currently holding anything.</p>
</div>

<% end %>
